pytz
python-dateutil
pyyaml

Pillow
pygame
luma.core

# next 2 modules need not in old luma
# raspi implemented oled,
luma.oled
# macOS preffer to install emulator, but raspi not need
luma.emulator

# Profilers for PyCharm
memory_profiler
snakeviz
cprofilev
psutil


# pycurl  # might be not able to install pycurl because of openssl then, commentout this line and try below
#
# if macOS bare terminal, run.
# ruby -e "$(/usr/bin/curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
# export PYCURL_CURL_CONFIG=`which curl-config`
# pip install --compile pycurl
#
# if pyCharm on macOS(mojave)
# choose Terminal -> workon SunlightControl
# ruby -e "$(/usr/bin/curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
# export PYCURL_CURL_CONFIG=`which curl-config`
# export PYCURL_SSL_LIBRARY=openssl
# pip install --compile pycurl
# if raspi stretch at least, run 'sudo pip install pycurl' simply.
# TODO: "pycurl" is affected from backend often, consider change "requests" for easy installation.
requests
